body {
	text-align: center;
	color : white;
	font-weight: bold;
	background-color: gray;
}

.head {
	color: #CEF0D4; 
    font-family: 'Rouge Script', cursive; 
    margin-bottom: 12px;
    border-color: rgb(204, 204, 204); 
    border-style: solid;
    border-width: 1.2px;
    padding: 10px;
    padding-top: 15px;
    display: table;
    padding-bottom: 10px;
    width: 500px;
    margin: 30px auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

a {
	color: #CEF0D4;
}