@charset "UTF-8";
@import url(list.css);
@import url(screen.css);
@import url(headAndBody.css);

.container {
    color: #333333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}
input[type="text"] {
    width: 200px;
}
input {
    display: block;
    margin-bottom: 20px;
    margin: 10px auto;
	width: auto;
	overflow: hidden;
	background: #FFF;
	color: #024457;
	border-radius: 3px;
	border: 1px solid #167F92;
}

input:last-of-type {
    display: block;
    margin-bottom: 25px;
}

label {
    margin-top: 25px;
    color: #CEF0D4;
}

.validation-error {
    color: red;
}

