@charset "UTF-8";

@media screen and (max-width: 768px) {
	body {
		margin: 0 0;
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}

@media screen and (min-width: 768px) {
	body {
		margin: 5vh auto;
		position: static;
		height: 80vh;
		width: 768px;
	}
}
