<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title th:text="#{errorPage.title}">Cím</title>
<link rel="stylesheet" type="text/css" href="/css/error.css" />

</head>
<body>
	<div id="top-row">

		
		<a href="/" th:text="#{input.back}">vissza a főoldalra</a> 

		
		
			<div>
				<p></p>
			</div>
			</div>
		
	
		
</body>
</html>