<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="#{random.title}">Cím</title>
	<link rel="stylesheet" type="text/css" href="/css/input.css" />
</head>
<body>

		<div class="head">
			<h1 th:text="#{input.heading}">wordhunter</h1>
		</div>
	
	 <div class="container">	
		<form action="#" th:action="@{/input}" th:object="${post}" method="post">
		 
		 
		 <label th:text="#{input.name}">word:</label>
		 	<span class="validation-error" th:if="${#fields.hasErrors('word')}" th:errors="*{word}">Error</span>
		 <input type="text" th:field="*{word}" />
		 
		 <label th:text="#{input.mean}">mean:</label>
		 	<span class="validation-error" th:if="${#fields.hasErrors('mean')}" th:errors="*{mean}">Error</span>
		 <input type="text" th:field="*{mean}" />
		 
		 <button type="submit" value="Submit"  th:text="#{input.form.action.save}">Save changes</button>
		 <button type="reset"  value="Reset"   th:text="#{input.form.action.reset}">reset</button>
		 
		 <ul th:if="${#fields.hasErrors('global')}"> 
        	<li class="validation-error" th:each="err : ${#fields.errors('global')}" th:text="${err}">Please review your input</li>
      	 </ul>
    	</form>
	
	 <a href="/" th:text="#{input.back}">vissza a főoldalra</a> 
 </div>
</body>
</html>