<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="#{random.title}">Cím</title>
	<link rel="stylesheet" type="text/css" href="/css/list.css" />
</head>

<body>
	<div class="head">
		<h1 th:text="#{random.heading}">wordhunter</h1>
	</div>
	
	<a id="newRandom" onclick="reLoad()"><p>új szó &#8981;</p></a>
	
	<div id="randomWord">
		<p  th:text="${vocables}">szo</p>
	</div>
 	
 <table>
	  <thead>
        <tr>
        <!-- using input name & mean -->
          <th th:text="#{input.name}">Angol szó</th>
          <th th:text="#{input.mean}">Magyar jelentés</th>
        </tr>
      </thead>
      
      <tbody>
    
        <tr >                    
          <td th:text="${vocableWordTest}">szo</td>
          
          <td th:text="${vocablesMeanTest}">mean</td>
        </tr>
    
    	
        
      
    
      </tbody>
</table>	
	
	<a href="voca.html" th:text="#{random.gotovoca}">Összes szó megjelentítése</a> 
	
	<script src="../js/upload.js"></script>
</body>
</html>