<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="#{result.title}">Cím</title>
	<link rel="stylesheet" type="text/css" href="/css/index2.css" />
</head>
<body>

	<h1>Result</h1> 
    <p th:text="'szó: ' + ${vocable.word}" />
    <p th:text="'jelentése: ' + ${vocable.mean}" />
    <a href="/input">Submit another message</a>
	
</body>
</html>